body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    background-color: #4a4a4a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header{
  margin-top: -1%;
  margin-bottom: 1rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.redColor{
  background-color: #d2332e !important;
}
.bubbly-button {
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  /* margin-top: 100px;
  margin-bottom: 60px; */
  -webkit-appearance: none;
  appearance: none;
  background-color: #2891fa;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgb(40, 119, 255,0.5);
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #1b63ac 20%, transparent 20%), radial-gradient(circle, transparent 20%, #1b63ac 20%, transparent 30%), radial-gradient(circle, #1b63ac 20%, transparent 20%), radial-gradient(circle, #1b63ac 20%, transparent 20%), radial-gradient(circle, transparent 10%, #1b63ac 15%, transparent 20%), radial-gradient(circle, #1b63ac 20%, transparent 20%), radial-gradient(circle, #1b63ac 20%, transparent 20%), radial-gradient(circle, #1b63ac 20%, transparent 20%), radial-gradient(circle, #1b63ac 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #1b63ac 20%, transparent 20%), radial-gradient(circle, #1b63ac 20%, transparent 20%), radial-gradient(circle, transparent 10%, #1b63ac 15%, transparent 20%), radial-gradient(circle, #1b63ac 20%, transparent 20%), radial-gradient(circle, #1b63ac 20%, transparent 20%), radial-gradient(circle, #1b63ac 20%, transparent 20%), radial-gradient(circle, #1b63ac 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #0e365f;
  box-shadow: 0 2px 25px rgb(14, 54, 95, 0.2);
}